<div id="user-form-container" class="user-form-container" style="display: none;">
    <form id="user-form">
        <label for="userId">User ID:</label>
        <input type="text" id="userId" placeholder="26...">

        <label for='username'>Username:</label>
        <input type="text" name="username" placeholder="Username...">
        
        <label for="role">Role:</label>
        <select name="role">
            <option value="0">User</option>
            <option value="1">Admin</option>
        </select>
        <br>

        <button type="button" onclick="submitUserForm(formUserId)">Submit</button>
    </form>
</div>