services:
  app:
    image: danmou1/todo-app
    build: ./app
    ports:
      - 8080:8080
    depends_on:
      - postgres
  
  nginx:
    image: danmou1/todo-nginx
    build: ./nginx
    ports:
      - 80:80

  postgres:
    image: postgres
    environment:
      POSTGRES_DB: taskman_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: