<link rel="stylesheet" type="text/css" href="/styles/leftSidebar.css">
<div class="left-sidebar">
    <a href="/app/tasks">All Tasks</a>
    <a>Today</a>
    <a href="/app/tasks/incomplete">Upcoming</a>
    <a href="/app/tasks/completed">Completed</a>
</div>