<link rel="stylesheet" type="text/css" href="/styles/navbar.css">
<nav class="navbar">

    <form id="search-form" class="topnav">
        <input type="text" id="search-input" name="query" placeholder="Search">
        <button type="submit">Search</button>
    </form>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/app">
                <span>All Tasks</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="/app?t=true">
                <span>Today</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="/app/?c=false">
                <span>Upcoming</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="/app?c=true">
                <span>Completed</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#">
                <span>History</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#">
                <span>Archive</span>
            </a>
        </li>

    </ul>
</nav>