body {
    background-color: #121212;
    font-family: serif;
    padding: 4em 0em 0em 4em;
}

.links {
    display: flex;
    padding: 0em 1em 0em 0em;
    font-size: 1.8em;
}

.links .icon {
    color: #fff;
    margin-right: 0.5em;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.links .icon:last-child {
    margin-right: 0;
}

.name {
    color: #f2f2f2;
    font-size: 3em;
    font-weight: bold;
}

.description {
    width: 50%;
    color: #cccccc;
    font-size: 1em;
}