:root {
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #ffffff99;
    --text-secondary: #b6b6b6;
    --bg-primary: whitesmoke;
    --bg-secondary:slategray;
    --nav-primary:#04000c;
    --nav-secondary: slategray;
}

body {
    margin: 0;
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
}