<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
    <aside class="leftSidebar border">
        <header class="leftSidebar-header"">
            <!--sidebar header image is supposed to be here-->
            <h1>TODO App</h1>
        </header>

        <nav class="border">
            <button>
                <span>
                    <span>Home</span>
                </span>
            </button>
            <button>
                <span>
                    <span>All Tasks</span>
                </span>
            </button>
            <button>
                <span>
                    <span>Upcoming</span>
                </span>
            </button>
            <button>
                <span>
                    <span>Today</span>
                </span>
            </button>
            <button>
                <span>
                    <span>Completed</span>
                </span>
            </button>
        </nav>
    </aside>

    <main>
        <%- body %>
    </main>
    <footer>
        <!--footer content here-->
    </footer>
</body>
</html>