.left-sidebar {
    background-color: #333;
    color: #ffffff99;
    width: 200px;
    padding: 20px;
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: auto;
}

.left-sidebar a {
    display: block;
    color: #ffffff99;
    text-decoration: none;
    margin-bottom: 10px;
}

.left-sidebar a:hover {
    text-decoration: underline;
}