:root {
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #ffffff99;
    --text-secondary: #b6b6b6;
    --bg-primary: #1d1d1d;
    --bg-secondary: #141418;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}