.navbar {
    width: 16rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--nav-primary);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    border-bottom: 1px solid var(--nav-secondary);
}
.nav-item a {
    color: var(--text-primary);
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1rem 0 1rem 2rem;
    display: block;
}
.nav-item a:hover {
    background-color: var(--nav-secondary);
}