table {
    border-collapse: collapse;
    width: 35%;
}

table.tasks {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
th, td {
    border: 1px solid #ffffff30;
    padding: 8px;
    text-align: center;
    color: #ffffff99
}

.new-task-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 12px;
    border: none;
    border-radius: 25px;
}

.delete-button {
    background-color: #800000;
    color: white;
    padding: 5px 12px;
    border: none;
    border-radius: 25px;
}

.form-container form {
    margin: 20px auto;
    padding: 15px;
    max-width: 400px;
    border: 1px solid#ccc;
    border-radius: 5px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
}